<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <div class="card">
    <div class="card-block">
      <img src="/assets/img/logo_event_finder.jpg" style="max-width:100px; max-height:100px" class="img-fluid" alt="">
      <h1 class="text-center">Register</h1>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Register">
      </form>
    </div>
  </div>
</div>
</div>
